.searcher_box {
  background-color: #0E1015;
  color: #fff;
}

.banner {
  display: flex;
  /* align-items: center; */
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.banner img {
  max-width: 592px;
  max-height: 200px;
  pointer-events: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.banner h1 {
  background-color: blue;
}

div.ui.icon.input {
  /* background-color: red; */
  width: 100%;
}

.prompt {
  /* background-color: red; */
  width: 100% !important;
  /* margin: 0 12rem !important; */
}


.test {
  /* background-color: violet; */
  width: 100%;
  margin: 0 auto;

}