.champion-info-portal {
  background-color: white;
  width: 100vw;
  height: 101vh;
  padding: 25px;
}

.champion-info-buttons {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.champion-info-simple-principal {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.champion-info-simple {
  display: flex;
  flex-direction: column;
}

.champion-info-simple span.champion-tag {
  display: inline;
  padding: 3px 6px;
  margin-right: 1rem;
}

.champion-info-simple-tags {
  padding: 0 2rem 1rem 2rem;
}